@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@tailwind utilities;

*{
    font-family: 'Outfit', sans-serif;
}
/* 1B1A55  1E3E62  09122C   000957   */
@utility gray-bg{
    background-color: #2D336B;
    @apply text-white min-h-screen;
}

@utility flex-center{
    @apply flex items-center justify-center;
}

@utility flex-col-center{
    @apply flex flex-col items-center justify-center;
}

@utility nav-bg{
    background-color: #0B192C;
}

@layer utilities {
 .btn-bg{
    background-color: #6528F7;
}
 .btn-bg:hover {
    background-color: #2D46B9; 
  }
}

@layer utilities {
    .btn-gradient-pb {
      @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 
             hover:bg-gradient-to-bl focus:ring-4 focus:outline-none 
             focus:ring-blue-300 dark:focus:ring-blue-800 
             font-medium rounded-lg text-sm px-5 py-2.5 text-center 
             me-2 mb-2;
    }
  }
@layer utilities {
    .btn-gradient-cb {
        @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-4 py-2.5 text-center 
    }
}
/* removed the margin in the above one to adjust sign in properly in navbar */

body{
    background-color: #FDFAF6;
}

.input{
    @apply w-full p-2 border border-gray-300 rounded-lg; 
}

/* 0B192C */